tap "danielfoehrkn/switch"
tap "homebrew/bundle"
tap "homebrew/core"
brew "chezmoi"
brew "fish"
brew "git"
brew "nvim"
brew "tmux"
brew "gcc"
brew "fzf"
brew "starship"

brew "awscli"
brew "azure-cli"
brew "openshift-cli"

brew "kubernetes-cli"
brew "helm"
brew "krew"
brew "terraform"
brew "k3d"
brew "k3sup"
brew "k9s"
brew "kubie"
brew "mkcert"
brew "yq"


   
{{- if eq .chezmoi.os "darwin" }}
brew "docker"
{{- end }}