tap "homebrew/bundle"
tap "homebrew/core"
brew "chezmoi"
brew "fish"
brew "git"
brew "nvim"
brew "tmux"
brew "gcc"
brew "fzf"
brew "starship"
brew "wget"
brew "yq"
brew "jq"

brew "openshift-cli"

brew "kubernetes-cli"
brew "kustomize"
brew "flux"
brew "velero"
brew "helm"
brew "krew"
brew "terraform"
brew "k3d"
brew "k3sup"
brew "k9s"
brew "kubie"
brew "mkcert"

{{- if eq .chezmoi.os "darwin" }}
cask "docker"
cask "1password-cli"
cask "google-cloud-sdk"
{{ else if eq .chezmoi.os "darwin" }}

brew "azure-cli"
{{- end }}
