{{- if eq .chezmoi.os "darwin" }}
../Nextcloud/Kubeconfig/config
{{ else if eq .chezmoi.hostname "kgatz" }}
~/.kube/local_config
{{ else if eq .chezmoi.os "linux" }}
/mnt/c/Users/kgatzweiler/Nextcloud/Kubeconfig/config
{{- end }}