[alias]
	c = commit -am
	fpush = push --force
	s = status
	sclone = clone --depth=1
	amend = commit --amend --all --no-edit
	undocommit = reset HEAD~
	hreset = reset --hard
	co = checkout
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	cherrypick = cherry-pick
	cherry = cherry-pick
	cp = cherry-pick
	diffbranch = !"git diff $(git merge-base HEAD origin/master)"

	# show commit log of unique commits of this branch (not on master)
	diffcommitsfrommaster = log --no-merges master..
	# show unified diff of unique commits of this branch
	difffrommaster = diff master...
	# ^^^^ Holy crap two dots vs three dots, so important. https://stackoverflow.com/a/48681527

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	reup = rebase-update # depot_tools specific
        git = !exec git

  [delta]
	max-line-length = 700
	max-line-distance = 0.3 # better word-diff?
    # plus-style = "#012800"
    # minus-style = "#340001"
    # zero-style = "#999999"
    syntax-theme = base16
    # hyperlinks = true # broken? https://github.com/dandavison/delta/issues/362
    # navigate = true # eh. not great with short diffs.

    file-decoration-style = yellow ol ul
    file-style = bold yellow ul
    hunk-header-decoration-style = blue
    hunk-header-line-number-style = purple bold

# so much color
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

	newMoved = cyan dim
	oldMoved = blue dim
	newMovedAlternative = cyan italic
	oldMovedAlternative = blue italic
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

# git mergetool
[merge]
	tool = opendiff
	renameLimit = 0

[url "git://gist.github.com/"]
	insteadOf = "gist:"

# correct typos
[help]
	autocorrect = 1

[push]
	default = current
	followTags = true
[pull]
	ff = only
	default = current
[checkout]
	defaultRemote = origin

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[fetch]
	prune = true
	
[diff]
    # Show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
    # https://blog.github.com/2018-04-05-git-217-released/
    colorMoved = zebra

[stash]
	showPatch = true
[log]
	date = relative

[user]
	email = kgatzweiler@opentext.com
	name = Kai Gatzweiler

[credential]
{{ if eq .chezmoi.hostname "kgatz" }}

{{ if eq .chezmoi.os "linux" }}
	helper = "/mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe"
{{- end }}

[core]
	autocrlf = true
	filemode = false
[cola]
	spellcheck = false
	theme = flat-dark-red
	icontheme = dark
